@import "../../styles/mixins.scss";

.hero {
  &__container {
    padding: 5rem;

    @include respond(phone) {
      padding: 48px 16px;
    }
  }

  &__title {
    p {
      font-size: 20px;
      font-weight: 500;
      color: var(--blue-violet);
      text-align: center;
    }
  }

  &__content {
    @include flex-center-column;
    gap: 32px;
    text-align: center;

    h1 {
      font-size: 72px;
      font-size: 800;
      color: var(--second-color);

      @include respond(phone) {
        font-size: 48px;
        line-height: 52.8px;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;
    width: 100%;
    justify-content: center;

    .btn--secondary {
      @include respond(phone) {
        font-size: 16px;
        padding: 12px 0;
        width: 100%;
      }
    }

    .btn--primary {
      @include respond(phone) {
        font-size: 16px;
        padding: 12px 0;
        width: 100%;
      }
    }
  }

  &__shapes {
    padding-top: 5rem;

    @include respond(phone) {
      padding-top: 48px;
    }

    img {
      margin: auto;
      width: unset;
    }
  }
}
