//Brearkpoints
@mixin respond($breakpoint) {
  @if $breakpoint ==phone {
    @media screen and (max-width: 25em) {
      @content;
    }
  }

  @if $breakpoint ==tab-port {
    @media screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint ==tab-land {
    @media screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint ==big-desktop {
    @media screen and (max-width: 75rem) {
      @content;
    }
  }
}



//flex-space-between
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//flex-align-center
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

//flex-center-column
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//flex-column
@mixin flex-col {
  display: flex;
  flex-direction: column;
}
