@import '../../styles/mixins.scss';

.navbar {
    &__container {
        padding: 1.8rem 5rem;
        @include flex-between;
        // background-color: var(--background-color);

        @include respond(phone) {
            padding: 1.3rem 1rem;
        }
    }

    &__links {
        a {
            color: var(--second-color);
            margin-right: 24px;
            font-size: 16px;
            font-size: 400;
        }

        @include respond(phone) {
            display: none;
        }
    }

    &__buttons {
        @include flex-align-center;
        gap: 40px;

        a {
            color: var(--second-color);
            font-size: 16px;
            font-size: 400;
        }

        .btns {
            padding: 12px 28px !important;
            font-size: 16px !important;

            @include respond(phone) {
                display: none;
            }
        }


    }

    &__login {
        @include respond(phone) {
            display: none;
        }
    }

    &__request {
        padding: 0.75rem 1.75rem;
        background-color: var(--Charcoal-Blue);
        border: 1px solid var(--Charcoal-Blue);
        border-radius: 8px;

        @include respond(phone) {
            display: none;
        }
    }

    &__menu {
        display: none;


        @include respond(phone) {
            display: flex;
            color: var(--second-color);
            background-color: var(--Charcoal-Blue);
            border: 1px solid var(--Charcoal-Blue);
            padding: 0.75rem;
            border-radius: 8px;
        }
    }


}