@import "../../styles/mixins.scss";

.footer {
  background-color: var(--Charcoal-Blue);
  &__container {
    padding: 80px 80px 0 80px;
    @include respond(phone) {
      padding: 48px 16px 0 16px;
    }
  }

  &__columns {
    @include flex-between;

    @include respond(phone) {
      flex-direction: column;
      align-items: unset;
    }
  }

  &__column {
    padding-bottom: 80px;
    @include respond(phone) {
      padding-bottom: 32px;
    }
    h4 {
      font-weight: 500;
      font-size: 16px;
      color: var(--second-color);
      padding-bottom: 12px;

      @include respond(phone) {
        font-size: 16px;
      }
    }
    ul {
      @include flex-col;
      gap: 12px;
      li {
        @include flex-align-center;
        color: #e2e8f0;
        font-weight: 400;
        font-size: 16px;
        @include respond(phone) {
          font-size: 16px;
        }
        .beta-tag {
          color: black;
          width: 45;
          height: 20;
          padding: 4px;
          border-radius: 4px;
          background-color: #e0e8ff;
          font-size: 12px;
          margin-left: 12px;
        }
      }
    }
  }

  &__bottom {
    @include flex-between;
    padding: 36px 0;
    @include respond(phone) {
      flex-direction: column;
      align-items: unset;
      gap: 16px;
    }
  }

  &__links {
    display: flex;
    color: #e2e8f0;
    font-weight: 400;
    font-size: 16px;
    gap: 32px;
    @include respond(phone) {
      flex-wrap: wrap;
      font-size: 14px;
      gap: 16px;

      :nth-child(1) {
        flex: 1 1 100%;
      }
      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
      }
    }
  }

  &__socials {
    @include flex-align-center;
    gap: 32px;
    @include respond(phone) {
      flex-direction: column;
      align-items: unset;
      gap: 16px;
    }
  }
  &__apps {
    display: flex;
    gap: 16px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  &__appsStore {
    display: flex;
    gap: 16px;
  }

  .footer__arrow {
    margin-left: 8px;
  }
}
