@import "../../styles/mixins.scss";

.product {
  position: relative;
  min-height: 1189px;
  @include respond(phone) {
    min-height: unset;
  }

  &__container {
    // padding: 5rem;
  }

  .wrapper {
    padding-inline: unset;
  }

  &__header {
    background-color: #4f46e5;
    width: 100%;
    padding: 80px 80px 387px 80px;
    // position: absolute;

    @include respond(phone) {
      padding: 48px 16px 96px 16px;
    }
  }

  &__title {
  }

  &__img {
    padding: 0 70px;
    position: absolute;
    top: 271px;
    @include respond(phone) {
      padding: 0 24px;
      bottom: 48px;
      position: relative !important;
      top: unset;
    }

    img {
    }
  }
}
